{% extends 'usuarios/base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuarios.css' %}"> 
{% endblock %}

{% block 'body' %}
    <div class="container-fluid bg-inscricao">        
        <div class="row">
            <div class="col-md">
                <h3 class="logo">Type.Event</h3>
                    {% include "usuarios/partial/cadastro_form.html" %}
                    <img src="{% static 'img/logo.png' %}" class="logo-evento">
            </div>
            <div class="col-md bg-img">            
            </div>        
        </div>
    </div>


{% endblock %}